body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}

h1 {
    margin-top: 20px;
}
#cover-image {
    width: 40%;
    margin: 20px auto;
    position: relative;
}

    #cover-image img {
        width: 100%;
        border: 3px solid #fff;
        border-radius: 10px;
    }

.clickable-section {
    position: absolute;
    cursor: pointer;
}

.section0 {
    top: 90%;
    left: 30%;
    width: 10%;
    height: 15%;
}

#main-image {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

    #main-image img {
        width: 100%;
        border: 3px solid #fff;
        border-radius: 10px;
    }

.clickable-section {
    position: absolute;
    cursor: pointer;
}

.section1 {
    top: 25%;
    left: 15%;
    width: 25%;
    height: 15%;
}

.section2 {
    top: 25%;
    left: 60%;
    width: 25%;
    height: 15%;
}

.section3 {
    top: 60%;
    left: 15%;
    width: 25%;
    height: 15%;
}

.section4 {
    top: 50%;
    left: 60%;
    width: 25%;
    height: 15%;
}

.hidden {
    display: none;
}

#arrow-container {
    position: relative;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

#arrow-overlay {
    position: absolute;
    left: 42%;
    transform: translate(-50%, -50%);
    top: 55%;
    z-index: 1;
    width: 20%; /* Increase the width by a factor of 1.5 or more */
    height: 20%; /* Increase the height by a factor of 1.5 or more */
}

#arrow-canvas {
    width: 100%;
    height: 100%;
}

#yoda-image img {
    width: 200px; /* Set the width of Yoda's image */
    height: auto; /* Maintain the aspect ratio */
    transform: scaleX(-1); /* Flip the image horizontally */
}

#yoda-image {
    position: absolute;
    top: calc(30% + 140px); /* Position Yoda below the message */
    left: 92%;
    z-index: 10;
}
.destiny-message {
    font-family: 'Star Wars', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 82%;
    width: 500px;
    z-index: 10;
}


button {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
}

    button:hover {
        background-color: #555;
    }
